body {
    font-family: Montserrat;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    margin: 1em;
}

p {
    color: #F5F5F5;
    line-height: 1.5em;
}

.logos {
    margin: 2em 1em;
    text-align: center;
}

.logos > span {
    margin: 3em;
    color: beige;
}

a {
    color: salmon;
    cursor: pointer;
}

a:hover i{
    transform: scale(1.15);
    filter: brightness(0.8);
}

.about_me, .projects {
    background-color: darkslategrey;
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
}

.skills {
    font-size: 6rem;
    text-align: center;
}

.skills > a {
    text-decoration: none;
}


h1 {
    font-size: 3rem;
    margin: 0 0.1em;
}

h2 {
}

button:hover i{
    transform: scale(1.15);
    filter: brightness(0.8);
}

video {
    height: 35em;
    border-radius: 2em;
}

.pythonImages {
    float: left;
    margin: 1em 0em;
    max-width: 100%;

}

.right_col_content {
    margin: 1em;
}

.right_col_content > a:link {
    text-decoration: underline;
}

.appLogo {
    height: 1em;
    border-radius: 0.2em;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1em;
    grid-gap: 1em;
}

.image_rounded > img {
    border-radius: 1em;
}

.swift_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr;
    margin: 1em;
    grid-gap: 1em;
}